.footer{
	padding-bottom: 40px;
	@include media-breakpoint-up(lg) {
		padding-bottom: 100px;
	}
	.footer-logo{
		width: 137px;
		margin:0 auto 15px;
		@include media-breakpoint-up(lg) {
			width: 183px;
		}
	}
	strong{
		text-decoration: underline; 
	}
	a{
		color:$dark;
		cursor: pointer;
	}
}
